.custom-logo{
    height:70px;
    filter: contrast(0%) brightness(250%);
}

.link{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #99f3bd;
    color: black;
    font-weight: 700;
}

.link a{
    text-decoration: none!important;
    color: black!important;
}

.active{
    color: #a6f6f1!important;
    border-bottom: 2px solid #01c5c4;
    transition: 1s;
}