.style-header{
    position: relative;
    height: 100%;
}

.header{
    position: absolute;
    top: 0;
}

@media (max-width: 991px){
    .body{
        padding-top: 150px;
    }
    canvas{
        height: 650px!important;
        width: 100%!important;
    }
}